@import "./../../../../../GlobalStyle.scss";

/************ filter  **************/
.kpi {
  width: var(--width-100-percentage);
  height: var(--height-100vh-minus-75px);
  overflow-x: auto;

  .finance__header {
    padding: 24px 72px 24px 72px;
    background: #fafafa;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
    border-bottom: 2px solid #dee2e6;
    @include for-tablet-only {
      zoom: 0.7;
    }
  }
}

.Kpi__content {
  padding: 40px 72px 0 72px;
  margin-bottom: 100px;
}

.kpi__filter {
  margin-bottom: 15px;
  .alerts__div {
    background-color: white;
    padding: 14px;
    border: 0.5px solid #373a40;
    border-radius: 5px;
    color: #000;
    letter-spacing: -0.06em;
    font-style: normal;
    font-weight: var(--font-weight-400);
    font-size: var(--font-14);
    line-height: var(--line-height-150-percentage);
    margin-right: 25px;
  }
}
.alerts__div {
  i {
    margin-right: 10px;
    color: #e03131;
  }
}
.alerts__div__table {
  i {
    margin-right: 10px;
    color: #e03131;
  }
}
.show__toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
  span {
    @extend .Body_3;
  }
}

@media all and (max-width: 1199px) {
  .Kpi__content {
    zoom: 0.7;
  }
}
@include for_phone_only {
  .kpi {
    .finance__header {
      zoom: 0.4;
    }
  }
  .kpi__filter {
    zoom: 0.4;
  }

  .Kpi__content {
    padding: 12px 24px 0 24px;
  }
}
@media all and (max-width: 470px) {
  .kpi {
    .finance__header {
      padding: 24px 12px 8px 72px;
    }
  }
}
@media all and (max-width: 390px) {
  .kpi {
    .finance__header {
      padding: 24px 11px 8px 11px;
      zoom: 0.35;
    }
  }
}
