@import "../../../GlobalStyle.scss";
.row__with__toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .row__name__div {
    display: flex;
    align-items: center;
    justify-content: center;
    .row__icon {
      margin-right: 10px;
    }
    .row__name {
      @extend .Body_4;
      line-height: var(--line-height-150-percentage);
      letter-spacing: -0.06em;
      color: #373a40;
      @include for_phone_only {
        zoom: 0.5;
        font-size: 1rem;
      }
    }
  }
  .toggle__div {
    display: flex;
    align-items: center;
    justify-content: center;
    .edit__div {
      display: flex;
      align-items: center;
      justify-content: center;

      .editIcon {
        cursor: pointer;
        font-size: 0.7rem;
        color: #086972;
      }
      .edit__text {
        cursor: pointer;
        text-decoration: underline;
        margin: 0 2rem 0 0.3rem;
        color: $primary_color;
        @extend .Caption;
        @include for_phone_only {
          font-size: 0.6rem;
          margin: 0 0.7rem 0 0;

          text-align: end;
        }
      }
    }
  }
}
