@import "../../../GlobalStyle.scss";

.download__video__outline {
  font-style: normal;
  line-height: 28px;
  letter-spacing: -0.96px;
  border-radius: 6px;
  padding: 0 !important;
  padding-right: 10px;
  width: 100%;
  @extend .Body_3;
  .mantine-Button-label {
    padding-right: 2px;
  }
}

.affix__style {
  bottom: 70px;
  right: 0px;
  @include for_tablet_only {
    zoom: 0.6;
  }
  @include for_phone_only {
    zoom: 0.5;
  }
  .mantine-Chip-root {
    .mantine-Chip-input {
      display: none;
    }
    .mantine-Chip-label {
      background-color: $primary-color;
      color: #fff;
      font-style: normal;
      line-height: 28px;
      letter-spacing: -0.96px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 52px;
      box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.08);
      border-radius: 50px 0px 0px 50px !important;
      padding: 12px !important;
      @extend .Body_4;
      .chip__content {
        margin-left: 8px;
      }
    }
  }
}
.video__list__dropdown {
  padding: 0;
  width: 418px !important;
  height: 440px !important;
  overflow: hidden;
  border-radius: 20px;
  @include for_tablet_only {
    zoom: 0.6;
  }
  @include for_phone_only {
    zoom: 0.5;
  }
  .video__list__dropdown__wrapper {
    height: 100%;
    .video__list__dropdown_title {
      height: 15%;
      position: sticky;
      top: 0;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      padding: 27px 33px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);

      .title {
        margin: 0 !important;
        padding: 0 !important;
      }
      .close__icon {
        cursor: pointer;
      }
    }

    .videos__list__wrapper__affix {
      height: 85%;
      overflow: scroll;
      overflow-x: auto;
      .single__video__selected {
        background: #e6f4f5;
        cursor: pointer;
      }
      .single__video,
      .single__video__selected {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 24px 27px;
        &:hover {
          background: #e6f4f5;
          cursor: pointer;
        }
        .video__thumbnail {
          position: relative;
          margin-right: 20px;
          .thumbnail {
            width: 94px;
            height: 62px;
            border-radius: 6px;
          }
          .playIcon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $primary-color;
          }
        }
        .video__content {
          .title {
            font-style: normal;
            line-height: 24px;
            letter-spacing: -0.84px;
            padding: 0 !important;
            margin: 0 !important;
            @extend .Subtitle_3;
          }
          .content {
            font-family: DM Sans;
            font-style: normal;
            line-height: 20px;
            letter-spacing: -0.72px;
            padding: 0 !important;
            margin: 0 !important;
            @extend .Caption;
          }
        }
      }
      .seperator {
        width: 362px;
        height: 1px;
        opacity: 0.20000000298023224;
        background: #000;
        margin: auto 0;
      }
    }
  }
}
