@import "../../../../../../GlobalStyle.scss";

.company__profile__wrapper {
  margin-inline-start: 1.5rem;
  .company__profile__header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2rem 0rem 1rem 0;
    border-bottom: 1px solid #0000001d;
    margin-bottom: 1rem;
    .company__profile__header__title {
      font-weight: var(--font-weight-500);
      font-size: var(--font-20);
      line-height: var(--line-height-150-percentage);
      letter-spacing: -0.06em;
      color: #373a40;
    }
  }
  .company__edit__wrapper {
    display: flex;
    padding: 1rem 1rem 1rem 0;
    @include for_phone_only {
      zoom: 0.5;
    }
    .company__edit__left {
      width: var(--width-20-percentage);
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .company__logo__title {
        line-height: var(--line-height-21-px);
        color: #373a40;
        @extend .Body_3;
      }
      .avatar__controls {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .avatar__control {
          display: flex;
          gap: 0.5rem;
          align-items: center;
          line-height: var(--line-height-21-px);
          @extend .Body_3;
          cursor: pointer;
        }
        .reupload__control {
          color: #086972;
        }
        .delete__control {
          color: #e03131;
        }
      }
    }
    .company__edit__right {
      width: var(--width-70-percentage);

      .company__edit__row {
        padding-inline-end: 3rem;
        .form_input {
          @extend .Body_3;

          .mantine-InputWrapper-label {
            @extend .Body_3;
          }
        }
      }
      .company__edit__action__buttons {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        justify-content: end;
        @include for_phone_only {
          zoom: 0.5;
          margin-top: 5rem;
        }
        .company__edit__action__button {
          font-weight: var(--font-weight-400);
          font-size: var(--font-16);
          line-height: var(--line-height-24-px);
          letter-spacing: -0.01em;
          font-feature-settings: "calt" off;
          flex: none;
          order: 1;
          flex-grow: 0;
          padding: 0 2rem;
        }
      }
    }
  }
}
