@import "../../../../GlobalStyle.scss";

.error__modal__title {
  @extend .Headline_2;
  display: block;
  line-height: var(--line-height-26-px);
  letter-spacing: -0.01em;
  margin-bottom: 4px;
  font-feature-settings: "calt" off;
  color: #2c2e33;
}
.error__modal__subtitle {
  @extend .Body_4;
}
.modal__divider {
  margin: 16px 0;
}
.error__modal__error__wrapper {
  border: 1px solid #f03e3e;
  color: #f03e3e;
  border-radius: 4px;
  padding: 8px 16px;
  &:first-child {
    margin-top: 4px;
  }
  &:not(:first-child) {
    margin-top: 8px;
  }
}
.error__modal__errors {
  max-height: var(--height-300-px);
  overflow-y: scroll;
}
.error__modal__error__cell {
  font-weight: var(--font-weight-700);
  margin-inline-end: 8px;
}
.error__modal__error__text {
  @extend .Body_4;
}
.error__modal__actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 18px;
  margin: 38px 0;
  .error__modal__action__button {
    @extend .Body_3;
    line-height: 24px;
  }
}

@include for_tablet_only {
  .errors__modal {
    zoom: 0.4;
  }
}

@include for_phone_only {
  .errors__modal {
    zoom: 0.2;
  }
}
