@import "../../../../GlobalStyle.scss";
.login__page {
  display: flex;
  overflow: hidden;
  @include for_tablet_only {
    zoom: 0.6;
  }
  .login__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height: 100%;

    @include for_phone_only {
      zoom: 0.5;
      padding-left: 20%;
      padding-right: 20%;
    }

    @include for_tablet_only {
      padding-left: 10%;
      padding-right: 10%;
      margin-top: 3rem;
    }

    .login__title {
      @extend .Headline_2;
      color: #373a40;
    }

    .welcome__back__title {
      color: #373a40;
      font-size: 32px;
      font-weight: 500;
      margin: 0.5rem 0 0.25rem 0;
    }

    .background__logo {
      position: absolute;
      bottom: 0;
      right: 0;

      @include for_phone_only {
        zoom: 0.5;
      }

      @include for_tablet_only {
        zoom: 0.4;
      }
    }

    .continue__with {
      color: #868e96;
      @extend .Subtitle_3;
    }

    .or__text {
      color: #868e96;
      @extend .Subtitle_3;
    }

    .social__login__btns {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    .login_form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .forget__password {
      font-size: 16px;
      line-height: 28px;
      font-weight: 400;
      text-decoration-line: underline;
      color: #086972;
    }

    .submit__btn__login {
      font-weight: 400 !important;
      letter-spacing: -0.98px;
      font-size: 16px;
      line-height: 28px;
    }

    .already__using {
      display: flex;
      align-items: center;
      gap: 10px;
      align-items: center;
      margin: 1rem 0;
      .login__btn {
        @include for_phone_only {
          width: var(--width-100-percentage);
        }
      }
    }
  }
}
