.Headline_1 {
  font-size: 24px !important;
  font-weight: 700 !important;
}

.Headline_2 {
  font-size: 20px !important;
  font-weight: 700 !important;
}

.Headline_3 {
  font-size: 18px !important;
  font-weight: 700 !important;
}

.Headline_4 {
  font-size: 16px !important;
  font-weight: 700 !important;
}

.Subtitle_1,
.create__KPI__header__title {
  font-size: 20px !important;
  font-weight: 500 !important;
}

.Subtitle_2 {
  font-size: 18px !important;
  font-weight: 500 !important;
}

.Subtitle_3,
.kpi__toggle__title,
.mantine-Tabs-tabLabel {
  font-size: 16px !important;
  font-weight: 500 !important;
}

.Subtitle_4 {
  font-size: 14px;
  font-weight: 500;
}

.Body_1 {
  font-size: 20px !important;
  font-weight: 400 !important;
}

.Body_2 {
  font-size: 18px !important;
  font-weight: 400 !important;
}

.Body_3,
.tab__item,
.mantine-Select-label,
.mantine-Textarea-label,
.mantine-TextInput-label,
.kpi__toggle__subtitle,
.create__KPI__header__subtitle {
  font-size: 16px !important;
  font-weight: 400 !important;
}

.Body_4,
.KPI__title {
  font-size: 14px !important;
  font-weight: 400 !important;
}

.Caption {
  font-size: 12px !important;
  font-weight: 400 !important;
}

.mantine-Tabs-tab:not(:first-child) {
  margin-inline-start: 3.75rem;
}

.create__kpi__wrapper {
  padding: 0 0 2rem 0;
  width: var(--width-100-percentage);
}

.create__KPI__header {
  background: #fafafa;
  border-bottom: 1px solid #cccccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
  padding: 1rem 1rem 1rem 5rem;
  margin-bottom: 2rem;
  height: var(--height-11-rem);
}

.create__KPI__header__title {
  line-height: var(--line-height-150-percentage);
  letter-spacing: -0.06em;
  color: #373a40;
}

.create__KPI__header__subtitle {
  line-height: var(--line-height-150-percentage);
  letter-spacing: -0.06em;
  color: #373a40;
}

.create__KPI__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 5rem;
}
.create__KPI__body .stepper__div__kpi {
  width: 60%;
  margin: 0 auto;
}

.kpi__toggle__option {
  display: flex;
  padding: 1rem;
  align-items: center;
  gap: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #086972;
  height: 100%;
}

.kpi__toggle__info {
  display: flex;
  flex-direction: column;
}

.kpi__toggle__title {
  font-weight: var(--font-weight-500);
  font-size: var(--font-15);
  line-height: var(--line-height-150-percentage);
  letter-spacing: -0.06em;
}

.kpi__toggle__subtitle {
  font-weight: var(--font-weight-400);
  font-size: var(--font-15);
  line-height: var(--line-height-150-percentage);
  letter-spacing: -0.06em;
}

.KPI__title {
  line-height: var(--line-height-150-percentage);
  letter-spacing: -0.06em;
  color: #373a40;
}

.non__fin__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.action__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding: 2rem 5rem;
}

.adjust__amount__title {
  font-weight: var(--font-weight-400);
  font-size: var(--font-14);
  line-height: var(--line-height-100-percentage);
  color: #373a40;
}

.budgets__modal__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.budgets__modal__button {
  display: flex;
  justify-content: center;
}

.save__changes__btn {
  display: flex;
  justify-content: center;
}

.variable__table {
  background: #ffffff;
  border: 0.5px solid #086972;
  border-radius: 10px;
  margin-top: 1rem;
}

.variable__table__header {
  background: #086972;
  padding: 0.5rem 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  border-radius: 9px 9px 0px 0px;
}

.variable__header__search__title {
  font-weight: var(--font-weight-400);
  font-size: var(--font-15);
  line-height: var(--line-height-24-px);
  letter-spacing: -0.01em;
}

.variable__table__subheader {
  background: #fafafa;
  border-bottom: 1px solid #cccccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
  padding: 2rem 2rem 0 2rem;
  display: flex;
  justify-content: space-between;
}

.variable__table__tabs {
  display: flex;
  gap: 1.5rem;
}

.variable__table__tab {
  cursor: pointer;
}

.variable__tab__active {
  border-bottom: 3px solid #086972;
  border-radius: 0.1rem;
}

.variable__table__options {
  display: flex;
}

.variable__table__content {
  padding: 2rem;
}

.variable__table__choice {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  margin: 0 20px;
}
.variable__table__choice:hover {
  background: rgba(8, 105, 114, 0.1);
}

.choice__name {
  display: flex;
  gap: 10px;
  align-items: center;
}

.choice__name__title {
  font-weight: var(--font-weight-400);
  font-size: var(--font-15);
  line-height: var(--line-height-150-percentage);
  letter-spacing: -0.06em;
  color: #373a40;
}

.choice__name__category {
  font-weight: var(--font-weight-400);
  font-size: var(--font-12);
  line-height: var(--line-height-150-percentage);
  letter-spacing: -0.06em;
  color: #373a40;
  opacity: 0.6;
}

.action__button {
  padding: 3rem;
  font-weight: var(--font-weight-400);
  font-size: var(--font-16);
  line-height: var(--line-height-14-px);
}

.fixed__values__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}

.fixed__values__wrapper__inner {
  padding: 0 4rem 0 0;
}

.non__fin__settings {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.year__select {
  margin-right: 4rem;
}

.kpi__content__input__number {
  width: var(--width-300-px);
}

.formula__display {
  border: 2px solid #086972;
  border-radius: 10px;
  min-height: var(--height-12-rem);
  position: relative;
  display: flex;
}

.page__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.financial__kpi__wrapper {
  width: 80%;
  margin-bottom: 2rem;
}

.formula__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
  width: var(--width-50-percentage);
}

.formula__buttons__row {
  display: flex;
  margin: 0.25rem 0;
}

.formula__button {
  height: var(--height-3-rem);
  flex-grow: 1;
  margin-inline-end: 0.5rem;
  background: #086972;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.formula__buttons__row__last {
  display: flex;
  gap: 1rem;
  margin-inline-end: 0.5rem;
}

.formula__action__button {
  display: flex;
  text-align: center;
  justify-content: center;
  width: var(--width-100-percentage);
}

.formula__content {
  display: flex;
  gap: 0.5rem;
  width: var(--width-50-percentage);
  padding: 1rem;
  text-align: center;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.formula__dynamic__value__content {
  background: rgba(8, 105, 114, 0.3);
  border-radius: 60px;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
}

.formula__dynamic__value__label {
  font-weight: var(--font-weight-400);
  font-size: var(--font-12);
  line-height: var(--line-height-100-percentage);
  display: flex;
  align-items: center;
  text-align: center;
  color: #373a40;
}

.formula__dynamic__value__current {
  font-weight: var(--font-weight-400);
  font-size: var(--font-11);
  line-height: var(--line-height-100-percentage);
  display: flex;
  align-items: center;
  text-align: center;
  align-self: center;
}

.formula__dynamic__values {
  background: #ffffff;
  border: 0.5px solid #086972;
  border-radius: 10px;
  margin-top: 2rem;
}

.dynamic__values__header {
  background: #086972;
  border-radius: 9px 9px 0px 0px;
  padding: 0.5rem 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dynamic__values__search {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

.dynamic__values__title {
  color: white;
  line-height: var(--line-height-24-px);
  letter-spacing: -0.01em;
}

.dynamic__values__tabs__wrapper {
  display: flex;
  justify-content: space-between;
  background: #fafafa;
  border-bottom: 1px solid #cccccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
}

.tabs {
  display: flex;
  gap: 2rem;
  padding: 0 2rem;
  align-items: flex-end;
}

.tab__item {
  cursor: pointer;
  padding-bottom: 2px;
}

.tab__item_active {
  border-bottom: 2px solid #086972;
}

.dynamic__value {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 1rem;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1568627451);
  gap: 10px;
}
.dynamic__value:hover {
  background: rgba(8, 105, 114, 0.1);
}

.dynamic__value__title {
  font-weight: var(--font-weight-400);
  font-size: var(--font-15);
  line-height: var(--line-height-150-percentage);
  letter-spacing: -0.06em;
  color: #373a40;
}

.dynamic__value__category {
  font-weight: var(--font-weight-400);
  font-size: var(--font-12);
  line-height: var(--line-height-150-percentage);
  letter-spacing: -0.06em;
  color: #373a40;
  opacity: 0.6;
  margin-inline-start: 1rem;
}

.financial__kpis__action__buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  gap: 1rem;
}

.financial__kpi__action {
  font-weight: var(--font-weight-400);
  font-size: var(--font-16);
  line-height: var(--line-height-24-px);
  letter-spacing: -0.01em;
  font-feature-settings: "calt" off;
  padding: 0 3rem;
}

.dynamic__values__content {
  max-height: var(--height-15-rem);
  overflow-y: scroll;
}

@media (max-width: 810px) {
  .create__kpi__wrapper {
    justify-content: start;
  }
  .create__KPI__header {
    zoom: 0.85;
  }
  .create__KPI__body {
    zoom: 0.6;
    margin: 0;
    padding: 0 2rem;
  }
  .action__buttons {
    margin: 30rem 0 0 0;
    display: flex;
    justify-content: flex-end;
    zoom: 0.5;
  }
  .action__button {
    padding: 1rem 3rem;
  }
  .non__fin__wrapper {
    padding-left: 0;
  }
  .non__fin__settings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-top: 1rem;
  }
  .fixed__values__wrapper {
    justify-content: space-between;
  }
  .fixed__values__wrapper__inner {
    padding: 0;
  }
  .year__select {
    margin-right: 0;
    padding: 0 1.5rem;
  }
  .kpi__content__input__number {
    width: var(--width-100-px);
  }
  .outstanding__type__wrappper {
    justify-content: center;
  }
  .grid__half {
    zoom: 0.6;
  }
  .page__wrapper {
    zoom: 0.6;
  }
  .formula__button {
    height: var(--height-2-rem);
  }
}
@media all and (max-width: 500px) {
  .action__buttons {
    margin: 40rem 0 0 0;
    display: flex;
    justify-content: flex-end;
    zoom: 0.5;
  }
  .outstanding__type__wrappper {
    zoom: 0.7;
  }
}
@media all and (-webkit-device-pixel-ratio: 1.25) {
  .financial__kpi__wrapper {
    width: var(--width-90-percentage);
  }
}
@media all and (-webkit-device-pixel-ratio: 1.5) {
  .financial__kpi__wrapper {
    width: var(--width-90-percentage);
  }
}
@media all and (-webkit-device-pixel-ratio: 1.75) {
  .financial__kpi__wrapper {
    width: var(--width-90-percentage);
  }
} /*# sourceMappingURL=CreateKPI.css.map */
