.Headline_1 {
  font-size: 24px !important;
  font-weight: 700 !important;
}

.Headline_2 {
  font-size: 20px !important;
  font-weight: 700 !important;
}

.Headline_3 {
  font-size: 18px !important;
  font-weight: 700 !important;
}

.Headline_4 {
  font-size: 16px !important;
  font-weight: 700 !important;
}

.Subtitle_1 {
  font-size: 20px !important;
  font-weight: 500 !important;
}

.Subtitle_2 {
  font-size: 18px !important;
  font-weight: 500 !important;
}

.Subtitle_3,
.mantine-Tabs-tabLabel {
  font-size: 16px !important;
  font-weight: 500 !important;
}

.Subtitle_4 {
  font-size: 14px;
  font-weight: 500;
}

.Body_1 {
  font-size: 20px !important;
  font-weight: 400 !important;
}

.Body_2 {
  font-size: 16px !important;
  font-weight: 400 !important;
}

.Body_3 {
  font-size: 16px !important;
  font-weight: 400 !important;
}

.Body_4 {
  font-size: 14px !important;
  font-weight: 400 !important;
}

.Caption {
  font-size: 12px !important;
  font-weight: 400 !important;
}

.mantine-Tabs-tab:not(:first-child) {
  margin-inline-start: 3.75rem;
}

.organisation__settings__view {
  display: flex;
  width: 100%;
  position: relative;
}
@media (max-width: 810px) {
  .organisation__settings__view {
    margin-top: 0px;
  }
}
.organisation__settings__view .organisation__settings__container {
  width: 100%;
  height: var(--height-100vh-minus-75px);
  overflow-y: auto;
  max-height: var(--height-100vh-minus-75px);
  position: relative;
  transition: all 0.5s ease;
}
@media (max-width: 1200px) {
  .organisation__settings__view .organisation__settings__container {
    zoom: 0.7;
    height: var(--height-100-percentage);
    max-height: var(--height-100-percentage);
    overflow-y: auto;
    margin-left: 50px;
  }
}
@media (max-width: 810px) {
  .organisation__settings__view .organisation__settings__container {
    zoom: 0.4;
    margin-left: 0;
  }
}
.organisation__settings__view
  .organisation__settings__container
  .organisation__settings__view__content {
  display: flex;
  width: var(--width-100-percentage);
  height: var(--height-89-percentage);
}
@media (max-width: 1200px) {
  .organisation__settings__view
    .organisation__settings__container
    .organisation__settings__view__content {
    height: var(--height-136-percentage);
  }
}
@media (max-width: 810px) {
  .organisation__settings__view
    .organisation__settings__container
    .organisation__settings__view__content {
    height: var(--height-99-percentage);
  }
}
.organisation__settings__view
  .organisation__settings__container
  .outlet__content {
  width: 85%;
}
@media (max-width: 1200px) {
  .organisation__settings__view
    .organisation__settings__container
    .outlet__content {
    width: 80%;
  }
}
.organisation__settings__view .sidemenu_open {
  left: 15%;
  width: 85%;
}
@media (max-width: 1200px) {
  .organisation__settings__view .sidemenu_open {
    left: 22% !important;
    width: 78% !important;
  }
}
@media (max-width: 810px) {
  .organisation__settings__view .sidemenu_open {
    left: 0 !important;
    width: 100% !important;
  }
}
.organisation__settings__view .sidemenu_close {
  left: 5%;
  width: 95%;
}
@media (max-width: 1200px) {
  .organisation__settings__view .sidemenu_close {
    left: 7% !important;
    width: 93% !important;
  }
}
@media (max-width: 810px) {
  .organisation__settings__view .sidemenu_close {
    left: 0 !important;
    width: 100% !important;
  }
} /*# sourceMappingURL=OrganisationSettings.css.map */
