@import "../../../../../GlobalStyle.scss";

.faq__div {
  padding: 30px;
  height: var(--height-100vh-minus-75px);

  .div__start {
    .title1 {
      @extend .Subtitle_1;
      font-style: normal;
      line-height: 24px;
      letter-spacing: -1.2px;
      @include for_tablet_only {
        margin-top: 0;
      }
    }
    .title2 {
      @extend .Body_3;
      font-style: normal;
      line-height: 24px;
      letter-spacing: -0.96px;
    }
  }
  .single__item__faq {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
    margin: 24px 0;
    border: none;
    border-radius: 10px;
  }
}

.mantine-Accordion-item {
  .question {
    font-style: normal;
    line-height: var(--line-height-21-px);
    color: #000000;
    padding: 0;
    margin: 0;
    @extend .Subtitle_3;
  }

  .answer {
    padding: 0 15px;
    ul,
    ol {
      margin: 0;
    }
    .email__style {
      opacity: 0.8;
      text-decoration: underline;
    }
    .link__faq {
      text-decoration: underline;
    }
    .text {
      font-style: normal;
      line-height: var(--line-height-21-px);
      text-align: justify;
      color: #000000;
      margin: 0;
      @extend .Body_3;
      margin-bottom: 10px;
      font-weight: 600 !important;
    }
    .list__div {
      margin-top: 0;
      padding-left: 10px;
      .list__item {
        margin: 5px 0;
      }
      .list__item_dot {
        margin: 10px 0;
      }
      .email__style {
        opacity: 0.8;
        text-decoration: underline;
      }
      .link__faq {
        text-decoration: underline;
      }
    }
  }
}
