.Headline_1 {
  font-size: 24px !important;
  font-weight: 700 !important;
}

.Headline_2,
.trend__report__wrapper .trend__chart__header .trend__chart__title {
  font-size: 20px !important;
  font-weight: 700 !important;
}

.Headline_3 {
  font-size: 18px !important;
  font-weight: 700 !important;
}

.Headline_4 {
  font-size: 16px !important;
  font-weight: 700 !important;
}

.Subtitle_1,
.trend__report__wrapper .trend__chart__header .trend__chart__period {
  font-size: 20px !important;
  font-weight: 500 !important;
}

.Subtitle_2 {
  font-size: 18px !important;
  font-weight: 500 !important;
}

.Subtitle_3,
.trend__report__wrapper .trend__report__table .table__view .th__style,
.mantine-Tabs-tabLabel {
  font-size: 16px !important;
  font-weight: 500 !important;
}

.Subtitle_4 {
  font-size: 14px;
  font-weight: 500;
}

.Body_1 {
  font-size: 20px !important;
  font-weight: 400 !important;
}

.Body_2 {
  font-size: 18px !important;
  font-weight: 400 !important;
}

.Body_3 {
  font-size: 16px !important;
  font-weight: 400 !important;
}

.Body_4 {
  font-size: 14px !important;
  font-weight: 400 !important;
}

.Caption {
  font-size: 12px !important;
  font-weight: 400 !important;
}

.mantine-Tabs-tab:not(:first-child) {
  margin-inline-start: 3.75rem;
}

.trend__report__wrapper {
  overflow: hidden;
  padding: 1rem;
  position: relative;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
  background-repeat: no-repeat;
  margin-bottom: 5rem;
}
.trend__report__wrapper:hover {
  background-image: repeating-linear-gradient(
      0deg,
      #086972,
      #086972 10px,
      transparent 10px,
      transparent 20px
    ),
    repeating-linear-gradient(
      90deg,
      #086972,
      #086972 10px,
      transparent 10px,
      transparent 20px
    ),
    repeating-linear-gradient(
      180deg,
      #086972,
      #086972 10px,
      transparent 10px,
      transparent 20px
    ),
    repeating-linear-gradient(
      270deg,
      #086972,
      #086972 10px,
      transparent 10px,
      transparent 20px
    );
  -o-border-image: repeating-linear-gradient(
    0deg,
    #086972,
    #086972 10px,
    transparent 10px,
    transparent 20px
  );
  border-image: repeating-linear-gradient(
    0deg,
    #086972,
    #086972 10px,
    transparent 10px,
    transparent 20px
  );
}
.trend__report__wrapper:hover .edit__pop {
  display: flex;
  gap: 1rem;
  border: 0.5px solid #086972;
  background: #fff;
  box-shadow: 0px 11px 10px 0px rgba(0, 0, 0, 0.09);
}
.trend__report__wrapper .edit__pop {
  position: absolute;
  right: 0.8rem;
  top: 0.6rem;
  display: none;
  padding: 0.5rem;
  border-radius: 0.375rem;
}
.trend__report__wrapper .edit__pop i {
  color: #086972;
  cursor: pointer;
}
.trend__report__wrapper .xAxis .recharts-cartesian-axis-line {
  stroke: rgb(8, 105, 114) !important;
  stroke-width: 2px !important;
}
.trend__report__wrapper .yAxis .recharts-cartesian-axis-line {
  stroke-width: 0.0625rem !important;
}
.trend__report__wrapper .recharts-cartesian-grid-vertical {
  display: none !important;
}
.trend__report__wrapper .trend__chart__header {
  margin-bottom: 18px;
}
.trend__report__wrapper .trend__chart__header .trend__chart__title {
  color: #000;
}
.trend__report__wrapper .trend__chart__header .trend__chart__period {
  color: #000;
}
@media (max-width: 810px) {
  .trend__report__wrapper .chart__wrapper {
    zoom: 0.5;
  }
}
.trend__report__wrapper .trend__report__table {
  margin-top: 1.12rem;
}
@media (max-width: 1200px) {
  .trend__report__wrapper .trend__report__table .table__view {
    table-layout: fixed;
  }
  .trend__report__wrapper .trend__report__table .table__view th .th__style {
    font-size: 0.5rem !important;
  }
  .trend__report__wrapper .trend__report__table .table__view td {
    font-size: 0.5rem !important;
  }
} /*# sourceMappingURL=TrendReport.css.map */
