.Headline_1 {
  font-size: 24px !important;
  font-weight: 700 !important;
}

.Headline_2 {
  font-size: 20px !important;
  font-weight: 700 !important;
}

.Headline_3 {
  font-size: 18px !important;
  font-weight: 700 !important;
}

.Headline_4 {
  font-size: 16px !important;
  font-weight: 700 !important;
}

.Subtitle_1 {
  font-size: 20px !important;
  font-weight: 500 !important;
}

.Subtitle_2 {
  font-size: 18px !important;
  font-weight: 500 !important;
}

.Subtitle_3,
.mantine-Tabs-tabLabel {
  font-size: 16px !important;
  font-weight: 500 !important;
}

.Subtitle_4 {
  font-size: 14px;
  font-weight: 500;
}

.Body_1 {
  font-size: 20px !important;
  font-weight: 400 !important;
}

.Body_2 {
  font-size: 16px !important;
  font-weight: 400 !important;
}

.Body_3 {
  font-size: 16px !important;
  font-weight: 400 !important;
}

.Body_4,
.SegmentationAnalysis .single__metric__selected,
.SegmentationAnalysis .single__metric {
  font-size: 14px !important;
  font-weight: 400 !important;
}

.Caption {
  font-size: 12px !important;
  font-weight: 400 !important;
}

.mantine-Tabs-tab:not(:first-child) {
  margin-inline-start: 3.75rem;
}

.segmentation__content {
  padding: 0 70px;
}
.segmentation__content .pie__td {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.SegmentationAnalysis {
  height: var(--height-100vh-minus-75px);
  overflow-y: auto;
}
.SegmentationAnalysis .segmentation__header {
  padding: 24px 72px 8px 72px;
  background: #fafafa;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
  width: 100%;
}
.SegmentationAnalysis .carousel__div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  position: relative;
}
.SegmentationAnalysis .carousel__div .start__shadow {
  width: var(--width-70-px);
  height: var(--height-100-percentage);
  position: absolute;
  left: 0;
  background: linear-gradient(
    270deg,
    #fffefe 0%,
    #fffefe 30.73%,
    rgba(255, 255, 255, 0.6) 59.58%,
    rgba(255, 255, 255, 0.4) 83.58%
  );
  transform: rotate(-180deg);
  z-index: 2;
}
.SegmentationAnalysis .carousel__div .end__shadow {
  width: var(--width-70-px);
  height: var(--height-100-percentage);
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(
    270deg,
    #fffefe 0%,
    #fffefe 30.73%,
    rgba(255, 255, 255, 0.6) 59.58%,
    rgba(255, 255, 255, 0.4) 83.58%
  );
  z-index: 2;
}
.SegmentationAnalysis .metric__div {
  margin: 0 15px;
  width: -moz-max-content;
  width: max-content;
}
.SegmentationAnalysis .single__metric {
  padding: 10px 20px;
  min-width: -moz-max-content;
  min-width: max-content;
  width: var(--width-100-percentage);
  background: #f1f3f5;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
}
.SegmentationAnalysis .mx__8 {
  margin: 0 8px;
}
.SegmentationAnalysis .single__metric__selected {
  padding: 10px 20px;
  min-width: -moz-max-content;
  min-width: max-content;
  width: var(--width-100-percentage);
  background: #086972;
  color: white;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
}
.SegmentationAnalysis .show__Last__Year__Value {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 1rem;
}
.SegmentationAnalysis .show__Last__Year__Value .label {
  margin-right: 15px;
}
.SegmentationAnalysis .buttons__div {
  margin: 1rem 0;
}

.table__seperator {
  height: var(--height-10-px);
  width: var(--width-100-percentage);
  margin: 20px 0;
  background: rgba(8, 105, 114, 0.4);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.mb__100 {
  margin-bottom: 100px;
}

@media all and (max-width: 1000px) and (orientation: landscape) {
  .SegmentationAnalysis .segmentation__header {
    zoom: 0.5;
  }
}
@media (max-width: 1200px) {
  .segmentation__content {
    zoom: 0.6;
    padding: 0 20px;
  }
  .SegmentationAnalysis .carousel__div {
    width: var(--width-100-percentage);
  }
  .SegmentationAnalysis .buttons__div {
    width: var(--width-90-percentage);
  }
  .show__Last__Year__Value {
    zoom: 0.5;
  }
}
@media (max-width: 810px) {
  .segmentation__content {
    padding: 0 20px;
  }
  .SegmentationAnalysis .single__metric__selected {
    zoom: 0.5;
  }
  .SegmentationAnalysis .single__metric {
    zoom: 0.5;
  }
  .SegmentationAnalysis .metric__div {
    margin: 0 6px;
  }
  .SegmentationAnalysis .carousel__div .end__shadow {
    height: var(--height-60-percentage);
  }
  .show__Last__Year__Value {
    zoom: 0.2;
  }
}
@media all and (max-width: 470px) {
  .SegmentationAnalysis .segmentation__header {
    padding: 24px 12px 8px 72px;
  }
}
@media all and (max-width: 390px) {
  .SegmentationAnalysis .segmentation__header {
    padding: 24px 11px 8px 11px;
  }
} /*# sourceMappingURL=SegmentationAnalysis.css.map */
