@import "../../../../GlobalStyle.scss";

.background__logo {
  position: absolute;
  bottom: 0;
  right: 0;

  @include for_phone_only {
    zoom: 0.5;
  }

  @include for_tablet_only {
    zoom: 0.4;
  }
}
.forgetpassword__page {
  display: flex;
  @include for_tablet_only {
    zoom: 0.4;
  }

  .forgetpassword__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    @include for_phone_only {
      zoom: 0.5;
      padding-left: 20%;
      padding-right: 20%;
    }

    @include for_tablet_only {
      zoom: 0.4;
      padding-left: 10%;
      padding-right: 10%;
      margin-top: 3rem;
    }

    .femto__logo {
      width: var(--width-210-px);
      margin-bottom: 18px;
    }
    .page__title {
      color: #373a40;
      margin-bottom: 8px;
      line-height: var(--line-height-120-percentage);
      @extend .Subtitle_1;
    }
    .text {
      margin-bottom: 5px;
      @extend .Body_3;
    }
    .email__input {
      .mantine-TextInput-label {
        @extend .Body_3;
      }
    }
    .question {
      @extend .Body_3;
    }

    .reenter__password {
      font-weight: var(--font-weight-500);
      font-size: var(--font-12);
      line-height: var(--line-height-155-percentage);
      display: flex;
      align-items: center;
      color: #086972;
    }
  }
}
