.Headline_1 {
  font-size: 24px !important;
  font-weight: 700 !important;
}

.Headline_2 {
  font-size: 20px !important;
  font-weight: 700 !important;
}

.Headline_3 {
  font-size: 18px !important;
  font-weight: 700 !important;
}

.Headline_4 {
  font-size: 16px !important;
  font-weight: 700 !important;
}

.Subtitle_1,
.no_company_selected_container .no_company_selected_div .no__companies__title,
.company__profile__wrapper
  .company__profile__header
  .company__profile__header__title {
  font-size: 20px !important;
  font-weight: 500 !important;
}

.Subtitle_2 {
  font-size: 18px !important;
  font-weight: 500 !important;
}

.Subtitle_3,
.company__profile__wrapper
  .company__entry
  .company__meta
  .company__meta__row
  .company__meta__right
  .company__profile__value,
.company__profile__wrapper
  .company__entry
  .company__meta
  .company__meta__row
  .company__meta__left
  .company__profile__value,
.company__profile__wrapper
  .company__entry
  .company__meta
  .company__meta__row
  .company__meta__left
  .company__name,
.mantine-Tabs-tabLabel {
  font-size: 16px !important;
  font-weight: 500 !important;
}

.Subtitle_4 {
  font-size: 14px;
  font-weight: 500;
}

.Body_1 {
  font-size: 20px !important;
  font-weight: 400 !important;
}

.Body_2 {
  font-size: 18px !important;
  font-weight: 400 !important;
}

.Body_3,
.no_company_selected_container
  .no_company_selected_div
  .no__companies__subtitle,
.company__profile__wrapper
  .company__profile__header
  .company__profile__header__subtitle {
  font-size: 16px !important;
  font-weight: 400 !important;
}

.Body_4,
.company__profile__wrapper
  .company__entry
  .company__meta
  .company__meta__row
  .company__description,
.company__profile__wrapper
  .company__entry
  .company__meta
  .company__meta__row
  .company__meta__right
  .company__profile__key,
.company__profile__wrapper
  .company__entry
  .company__meta
  .company__meta__row
  .company__meta__left
  .company__profile__key {
  font-size: 14px !important;
  font-weight: 400 !important;
}

.Caption,
.company__profile__wrapper
  .company__entry
  .company__meta
  .company__meta__row
  .company__pitchline {
  font-size: 12px !important;
  font-weight: 400 !important;
}

.mantine-Tabs-tab:not(:first-child) {
  margin-inline-start: 3.75rem;
}

.company__profile__wrapper {
  margin-inline-start: 1.5rem;
}
.company__profile__wrapper .company__profile__header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2rem 0rem 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1137254902);
  margin-bottom: 1rem;
}
.company__profile__wrapper
  .company__profile__header
  .company__profile__header__title {
  line-height: var(--line-height-150-percentage);
  letter-spacing: -0.06em;
  color: #373a40;
}
.company__profile__wrapper .company__entry {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  display: flex;
  padding: 1rem 2rem;
  gap: 1rem;
  margin-inline-start: 1rem;
  margin-inline-end: 3rem;
  margin-bottom: 1rem;
}
.company__profile__wrapper .company__entry .company__meta {
  flex-grow: 1;
}
.company__profile__wrapper .company__entry .company__meta .company__meta__row {
  display: flex;
  gap: 10px;
}
.company__profile__wrapper
  .company__entry
  .company__meta
  .company__meta__row:not(:last-child) {
  margin-bottom: 1rem;
}
.company__profile__wrapper
  .company__entry
  .company__meta
  .company__meta__row
  .company__meta__left {
  width: var(--width-40-percentage);
}
.company__profile__wrapper
  .company__entry
  .company__meta
  .company__meta__row
  .company__meta__left
  .company__name {
  line-height: var(--line-height-21-px);
  color: #373a40;
}
.company__profile__wrapper
  .company__entry
  .company__meta
  .company__meta__row
  .company__meta__left
  .company__profile__key {
  line-height: var(--line-height-18-px);
  color: #909296;
}
.company__profile__wrapper
  .company__entry
  .company__meta
  .company__meta__row
  .company__meta__left
  .company__profile__value {
  margin-inline-start: 0.5rem;
  line-height: var(--line-height-21-px);
  color: #373a40;
}
.company__profile__wrapper
  .company__entry
  .company__meta
  .company__meta__row
  .company__meta__right {
  width: var(--width-60-percentage);
}
.company__profile__wrapper
  .company__entry
  .company__meta
  .company__meta__row
  .company__meta__right
  .company__profile__key {
  line-height: var(--line-height-18-px);
  color: #909296;
}
.company__profile__wrapper
  .company__entry
  .company__meta
  .company__meta__row
  .company__meta__right
  .company__profile__value {
  margin-inline-start: 0.5rem;
  line-height: var(--line-height-21-px);
  color: #373a40;
}
.company__profile__wrapper
  .company__entry
  .company__meta
  .company__meta__row
  .company__pitchline {
  line-height: var(--line-height-17-px);
  color: #373a40;
  opacity: 0.8;
}
.company__profile__wrapper
  .company__entry
  .company__meta
  .company__meta__row
  .company__description {
  line-height: var(--line-height-18-px);
  color: #373a40;
}
.company__profile__wrapper .company__entry .company__edit {
  display: flex;
  gap: 5px;
  font-weight: var(--font-weight-400);
  font-size: var(--font-16);
  line-height: var(--line-height-21-px);
  color: #086972;
  cursor: pointer;
}

.no_company_selected_container {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  height: 100%;
  align-items: center;
  margin-top: 4rem;
}
.no_company_selected_container .no_company_selected_div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  gap: 10;
}
.no_company_selected_container .no_company_selected_div .no__companies__title {
  line-height: var(--line-height-150-percentage);
  color: #373a40;
}
.no_company_selected_container
  .no_company_selected_div
  .no__companies__subtitle {
  line-height: var(--line-height-150-percentage);
  letter-spacing: -0.06em;
  color: #373a40;
}
.no_company_selected_container .no_company_selected_div .btn {
  display: flex;
  justify-content: center;
  width: 15rem;
} /*# sourceMappingURL=CompanyProfile.css.map */
